@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.use_font {
    font-family: "Merriweather Sans",
            sans-serif;
        font-optical-sizing: auto;
        font-weight:weight;
        font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
.main_menu_item_cus a {
    outline: 2px solid #003ae9;
        /* 2 পিক্সেল পুরু লাল আউটলাইন */
        outline-offset: 2px;
        background-color: #003ae9;
        color: white;
        
}
@media only screen and (max-width : 785px){
    .main_menu_item_cus {
        gap: 25px;
    }
}
